src/offline/news/personalize-step-funcs/interaction-new-personalize-template.yaml
AWSTemplateFormatVersion: '2010-09-09'
Transform: AWS::Serverless-2016-10-31
Description: >
  (SO8010)

  CloudFormation for RecSys StepFuncs


Parameters:
  Stage:
    Type: String
    Default: dev

  StepFuncAndLambdaRoleName:
    Type: String
    Default: LambdaAndStepFuncsRole

  PreCheckLabmda:
    Type: String
    Default: PreCheckLabmda

  CreateDatasetImportJobLambda:
    Type: String
    Default: CreateDatasetImportJobLambda

  CheckDatasetImportJobStatusLambda:
    Type: String
    Default: CheckDatasetImportJobStatusLambda

Resources:
  ItemNewStepFuncPersonalize:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      RoleArn: !Sub "arn:${AWS::Partition}:iam::${AWS::AccountId}:role/rs-${Stage}-${StepFuncAndLambdaRoleName}-${AWS::Region}"
      StateMachineName: !Sub rs-${Stage}-News-InteractionNewStepFunc-Personalize
      DefinitionString: !Sub |
        {
          "StartAt": "Pre check",
          "TimeoutSeconds": 36000,
          "States": {
            "Pre check": {
              "Type": "Task",
              "Resource": "arn:${AWS::Partition}:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "rs-${Stage}-${PreCheckLabmda}",
                "Payload": {
                  "bucket.$": "$.Bucket",
                  "prefix.$": "$.S3Prefix",
                  "file_list": [
                    "system/personalize-data/personalize_interactions.csv"
                  ]
                }
              },
              "ResultSelector": {
                "Payload.$": "$.Payload"
              },
              "ResultPath": "$.Precheck",
              "Next": "Create Interaction Dataset Import Job"
            },
            "Create Interaction Dataset Import Job": {
              "Type": "Task",
              "Resource": "arn:${AWS::Partition}:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "rs-${Stage}-${CreateDatasetImportJobLambda}",
                "Payload": {
                  "bucket.$": "$.Bucket",
                  "prefix.$": "$.S3Prefix",
                  "ps_config.$": "$.ps_config"
                }
              },
              "ResultSelector": {
                "Payload.$": "$.Payload"
              },
              "ResultPath": "$.CreateInteractionDatasetImportJob",
              "Next": "Wait 30 Seconds For Dataset Import Job"
            },
            "Wait 30 Seconds For Dataset Import Job": {
              "Type": "Wait",
              "Seconds": 30,
              "Next": "Check Interaction Dataset Import Job Status"
            },
            "Check Interaction Dataset Import Job Status": {
              "Type": "Task",
              "Resource": "arn:${AWS::Partition}:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "rs-${Stage}-${CheckDatasetImportJobStatusLambda}",
                "Payload": {
                  "createDatasetImportJob.$": "$.CreateInteractionDatasetImportJob"
                }
              },
              "ResultSelector": {
                "Payload.$": "$.Payload"
              },
              "ResultPath": "$.CheckInteractionDatsetImportJobStatus",
              "Next": "Interaction Dataset Import Job Status Choice"
            },
            "Interaction Dataset Import Job Status Choice": {
              "Type": "Choice",
              "Choices": [
                {
                  "Or": [
                    {
                      "Variable": "$.CheckInteractionDatsetImportJobStatus.Payload.dataset_import_job_status",
                      "StringEquals": "CREATE PENDING"
                    },
                    {
                      "Variable": "$.CheckInteractionDatsetImportJobStatus.Payload.dataset_import_job_status",
                      "StringEquals": "CREATE IN_PROGRESS"
                    }
                  ],
                  "Next": "Wait 30 Seconds For Dataset Import Job"
                },
                {
                  "Variable": "$.CheckInteractionDatsetImportJobStatus.Payload.dataset_import_job_status",
                  "StringEquals": "ACTIVE",
                  "Next": "Succeed"
                },
                {
                  "Variable": "$.CheckInteractionDatsetImportJobStatus.Payload.dataset_import_job_status",
                  "StringEquals": "CREATE FAILED",
                  "Next": "Fail"
                }
              ],
              "Default": "Fail"
            },
            "Fail": {
              "Type": "Fail",
              "Error": "Dataset Import Job Failed"
            },
            "Succeed": {
              "Type": "Succeed"
            }
          }
        }